/* ===================== 공통 ================= */

.login-wrap,
.join-wrap {
    position: relative;
    z-index: 1;
}

.fieldset-wrap {
    position: fixed;
    top: 0;
    left: 0;
}

.fieldset-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.fieldset input {
    border: 1px solid #565656;
}


.checkbox-text {
    display: inline-block;
}

/* ===================== 로그인 ================= */



/* ===================== 회원가입 ================= */


.fieldset-wrap .fieldset {
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.fieldset-wrap .flied-title {
    margin: 20px auto 50px;
}

.fieldset-wrap .flied-title h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.flied-input-wrap{
    
}
.flied-input-wrap ul {
  
}


.fieldset-wrap .flied-input {
    width:100%;
    margin: 20px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fieldset-wrap .flied-input .flied-name {
    
    width: 10%;
    /* font-size: 25px; */
    text-align: left;
   
   
}

.fieldset-wrap .flied-input label {
    font-size: 0;
    width: 70%;;
}

/* .fieldset-wrap .flied-input .flied-write {
    width: 100%;
} */


.fieldset-wrap .flied-input input {
    width: 100%;
    height: 45px;
    display: block;
    border: 1px solid #adadad;
    padding: 2px 2px 2px 7px;
    color: #191919;
    width: 100%;
    height: 80px;
    font-size: 19px;
    font-weight: 500;

}

.fieldset-wrap .flied-btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.address-form {
    width: 100%;
    display: flex;
    align-items: center;
}
.address-form .other-add {
    display: flex;
}

.flied-btn .checkbox-text {
    display: inline-block;


}

.chek-save input[type=check] {}

.chek-save .checkbox-text {
    font-size: 13px;
    vertical-align: middle;
}


.confirm-btn {
    margin: 40px auto;
}

.confirm-btn button {
    width: 200px;
    height: 45px;
    font-size: 16px;
    background: #191919;
    color: #fff;
    border: 0;
}


.fieldset form {}

.fieldset form .form-title {
    
}