/* ===================== 공통 ================= */

.login-wrap,
.join-wrap {
    position: relative;
    z-index: 1;
}

.fieldset-wrap {
    position: fixed;
    top: 0;
    left: 0;
}

.fieldset-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

.fieldset input {
    border: 1px solid #565656;
}


.checkbox-text {
    display: inline-block;
}

/* ===================== 로그인 ================= */


/* ===================== 회원가입 ================= */


.fieldset-wrap .fieldset {
    width: 100%;
    text-align: center;
}

.fieldset-wrap .flied-title {
    margin: 20px auto 50px;
}

.fieldset-wrap .flied-title h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

.fieldset-wrap .flied-input {
    width: 34%;
    margin: 20px auto 10px;
    display: flex;
    align-items: center;
    
}
.fieldset-wrap .flied-input.testwrap{
    flex-wrap: wrap;
    
}


.fieldset-wrap .flied-input label {
    width: 150px;
    text-align: left;
    padding-right: 40px;
}

.fieldset-wrap .flied-input input {
    width: 100%;
    height: 45px;
    display: block;
    border: 1px solid #adadad;
    padding: 2px 2px 2px 7px;
    color: #191919;
}
.fieldset-wrap .flied-btn {
    width: 34%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.test1 {
    width: 100%;
    display: flex;
    align-items: center;
}
.test2 {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.flied-btn .checkbox-text {
    display: inline-block;


}

.chek-save input[type=check] {}

.chek-save .checkbox-text {
    font-size: 13px;
    vertical-align: middle;
}


.confirm-btn {
    margin: 40px auto;
}

.confirm-btn button {
    width: 200px;
    height: 45px;
    font-size: 16px;
    background: #191919;
    color: #fff;
    border: 0;
}