@charset "UTF-8";



.category {
    position: relative;
    /* border-top: 1px solid #e5e5e5; */
}

.category::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 100%;
    height: 100%;
    border-top: 1px solid #e5e5e5;
    z-index: -1;
}

.category::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border-top: 1px solid #e5e5e5;
    z-index: -1;
}

.category ul.gnb {}

.category ul.gnb>li {
    position: relative;
    display: inline-block;
}


.category ul.gnb>li+li::before {
    position: absolute;
    top: 50%;
    left: auto;
    content: '';
    width: 1px;
    height: 15px;
    background-color: #e4e4e4;
    transform: translateY(-50%);
}

.category ul.gnb>li>a {
    display: block;
    line-height: 54px;
    padding: 0 23px;
    font-size: 14px;

}

.category ul.gnb>li:nth-child(1)>a {
    padding-right: 23px !important;
    padding: 0;
}

.category ul.gnb>li:hover>a {
    color: #e46b22;
}

/* .category ul.gnb>li>.depth-menu {
    display: none;
    position: absolute;
    left: -40%;
    right: -40%;
    top: 54px;
    padding: 14px 0 16px;
    background-color: #fff;
    margin-top: 1px;
}

.category ul.gnb>li:hover .depth-menu {
    display: block;
}

.category ul.gnb>li .depth-menu>li>a {
    display: block;

    padding: 5px;
}

.category ul.gnb>li .depth-menu>li>a:hover {
    color: #e46b22;
}

.category ul.gnb>li .depth-menu>li>a::after {
    content: "";
    display: block;
    width: 0;
    height: 1.2px;
    background-color: #e46b22;
    transition: width .3s cubic-bezier(0.215, 0.61, 0.355, 1);
    margin-top: 6px;
}

.category ul.gnb>li .depth-menu>li:hover>a::after {
    width: calc(40% + 2px);
} */

/* ========================= main-banner ============================= */

.banner-wrap {
    position: relative;
    padding: 80px 0;
    background: transparent;


}

.main-banner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    place-items: center;
    min-height: 400px;
    z-index: 1;
    background: url(../images/main/main-visual.jpg)no-repeat;
    background-size: cover;
    background-position: center 30%;
}

.main-banner .caption {
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0 0 10px 0;
    transform: rotate(-90deg);
    border-bottom: 2px solid #e9e9e9;

}

.main-banner .caption h4 {
    color: #b8b8b8;
    font-weight: 300;
}





/* ========================= product-item wrap ============================= */
.thumbnail-wrap {
    position: relative;
    padding-bottom: 40px;
}

.thumbnail-title-wrap .thumbnail-title {
    margin: 40px 0;
    text-align: center;
}

.thumbnail-title {
    font-size: 20px;
}

.thumbnail-item {
    position: relative;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */

}


.thumbnail-wrap .thumbnail-list {
    position: relative;
    width: 33.3%;
    margin-right: 1%;
}

.thumbnail-wrap .thumbnail-over-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
    padding: 20px;
}

.thumbnail-wrap .thumbnail-over-text ul {}

.thumbnail-wrap .thumbnail-over-text ul li {
    padding-bottom: 10px;
}

.thumbnail-wrap .thumbnail-over-text .thumbnail-name {}

.thumbnail-wrap .thumbnail-over-text .thumbnail-price {}

.thumbnail-wrap .thumbnail-over-text li {
    color: #fff;
}

.thumbnail-wrap .thumbnail-list:hover .thumbnail-over-text {
    opacity: 1;
}



/* ========================= main-banner ============================= */

.main-banner {
    position: relative;
}

.main-banner .banner-wrap {}

.main-baImg {}

.main-baTit {}

.main-baTit h2 {}

.main-baTit h2 strong {}



/* 쇼핑몰 카테고리*/
.menupackage {
    margin: 0 auto 50px;
    padding: 15px 0;
    width: 100%;
    border-top: 1px #ebebeb solid;
    border-bottom: 1px #ebebeb solid;
}

.cateTitle {
    margin: 0;
    display: inline-block;
}

.cateTitle h2 {
    padding-right: 25px;
    color: #333;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 2px;

    text-transform: uppercase;
    text-decoration: underline;
}

.menupackage ul {
    display: inline-block;

}

.menupackage ul>li {
    display: inline;
    height: 13px;
    margin: 0 8px 0 0;
    padding: 0;
    font-size: 11px;
}

.menuCategory {}

.menuCategory .cateTitle {
    display: inline-block;
}

.menuCategory li {
    position: relative;
    padding: 0 30px;
}

.menuCategory li::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    width: 1px;
    height: 10px;
    background-color: #e4e4e4;
    transform: translateY(-50%);
}



.menuCategory li a {
    padding-left: 10px;
    font-size: 14px;
}

.menuCategory li:nth-child(1) {
    padding: 0;
}

.menuCategory li:nth-child(1)::before {
    display: none;
}


/* ===================== 디테일 ==================== */
.detailArea {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.detailArea .detail-img {
    width: 40%;
}

.detailArea .detail-info {
    width: 50%;
}

.detailArea .xans-product-option tr td {
    padding: 0 0 6px 0;
}



.infoArea th {
    font-weight: normal;
    color: #555;
    width: 115px;
    padding: 7px 0;
    text-align: left;
    vertical-align: middle;
}

.infoArea td {
    padding: 7px 0;
    vertical-align: middle;
}

.infoArea select {
    width: 100%;
    height: 32px;
    font-size: 11px;
    color: #555;
}

.infoArea table {
    border: 0;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
}

.deProdName {
    font-size: 19px;
    padding-bottom: 5px;

}



.deProdPrice {}

.option {
    padding: 15px 0;
}

.option>h3 {
    padding-bottom: 10px;
}

.resultProdWrap {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.detailArea .detail-info select {
    min-width: 100px;
    height: 21px;
    padding: 0 0 0 2px;
    border: 1px #d5d5d5 solid;
    -webkit-appearance: none;
    -moz-appearance: none;

    text-indent: 0.01px;
    text-overflow: "";
    vertical-align: middle !important;
    outline: none;
}





.detail-count {
    display: flex;

    padding: 5px 20px;
}

.count_Num {
    font-size: 15px;
    padding: 0 10px;
}

.detail-count .delete {
    border: 1px solid #191919;
    position: absolute;
    top: auto;
    right: 0;
    padding: 5px 10px;
}



.deProdtotal {
    margin: 30px auto;
    border-top: 2px solid #191919;
    padding-top: 10px;
}

.deProdtotal>h2 {
    font-size: 19px;
}

.deProdtotal>#total_price {
    font-size: 25px;
}

.btnArea {
    margin: 10px -2px 0;
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    clear: both;
    overflow: hidden;
    font-family: 'Roboto', 'Lato', arial, 나눔고딕, 'Nanum Gothic', "맑은 고딕", 'Malgun Gothic', AppleGothic, "돋움", Dotum, sans-serif;
}

.btnArea a {
    display: inline-block;
    margin: 2px;
    width: 124px;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    color: #333;
    border: 1px #bdbdbd solid;
    background: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.btnArea a.buy {
    background: #2b2b2b;
    color: #fff;
    border: 1px #2b2b2b solid;
    width: 180px;
}

.btnArea a.soldbtn {
    width: 313px;
}